<!doctype html>
<html>
  <head>
    <title>UIT Chat</title>

    <!-- JQUERY -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-modal.min.js"></script>

    <!-- Our CSS -->
    <link rel='stylesheet' type='text/css' href='css/style.css'>
  </head>
  <body>
    <div id="messages-login-window">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h1>Login</h1>
            <p>Please enter your name:</p>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <input type="text" id="login-name" class="form-control" val="">
            <br>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <button id="random-username-btn" class="btn btn-block">Gimme a random username</button>
            <button id="login" class="btn btn-block btn-success">Go!</button>
          </div>
        </div>
      </div>
    </div>
    <div id="messages-dashboard-window" style="display:none">

      <div id="page-content-wrapper">

        <div class="container-fluid">
          <div class="row">

            <!-- Message Window -->
            <div class="col-md-12 message-window">

              <!-- Messages Title Window -->
              <div class="messages-title">
                <h1 id="current-channel-title">Welcome to the Andrew's Chat App!</h1>
                <p id="current-channel-purpose" class="channel-purpose">This IS a very good place to put dynamic text!</p>
              </div>

              <!-- Incoming Messages Window -->
              <div class="messages-window">
                <div id='messages-list' class="messages"></div>
              </div>

              <!-- New Message Input Window -->
              <div class="new-message-window">
                <input type='text' id='new-message-input' class="form-control input-lg" placeholder='Message'>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();

      $(document).ready(function() {
        socket.on('connect', function() {
          
        });

        socket.on('load messages', function(messages) {
          // clear previous messages (if there are any)
          $('#messages-list').empty();

          // add each message
          for (var i = 0; i < messages.length; i++) {
            addNewMessage(messages[i]);
          }
        });

        socket.on('new message', addNewMessage);

        /*  Messaging Events */
        $('#new-message-input').keypress(function(e) {
          var message;

          if (e.keyCode == 13) {
            if ($("#new-message-input").val() != '') {
              message = {
                body: $('#new-message-input').val()
              };

              addNewMessage(message);
              
              socket.emit('send message', message);

              $("#new-message-input").val("");
            }
          }
        });

        $('#random-username-btn').click(function() {
          $.ajax({
            url: 'https://randomuser.me/api/',
            dataType: 'json',
            success: function(data) {
              $('#login-name').val(data.results[0].login.username);
            }
          });
        });

        $("#login").click(function() {
          if ($("#login-name").val() != "") {

            loginWithUsername($('#login-name').val());
          }
        });
      });

      function loginWithUsername(username) {
          socket.emit('new user', {name: username});
          
          $("#messages-login-window").hide();
          $("#messages-dashboard-window").show();
      }

      function addNewMessage(message) {
        $('#messages-list').append(
          $('<p>').append(
            $('<strong>').append((message.senderName || 'You') + ': ')
          )
          .append(message.body)
        );
      }
    </script>
  </body>
</html>
